:root {
  --ram-red: #c20831;
  --ram-red-dark: #a00629;
  --ram-red-soft: rgba(194, 8, 49, 0.12);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ram-red-text {
  color: var(--ram-red) !important;
}

.ram-red-bg {
  background-color: var(--ram-red) !important;
}

.ram-red-border {
  border-color: var(--ram-red) !important;
}
